.cache/
*egg-info/
build/
dist/
*.pyc
PyStacks/configs/user/compiled/*
credentials.yml
.coverage
coverage
.DS_Store
.idea/*
.idea/
.vscode/
.vscode/*
.hypothesis/
.hypothesis/*
PyStacks/.cache/
PyStacks/.cache/*
